@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;

    --background-white: #e3e3e3;
    --white: #f5f5f5;
    --black: #1e1e1e;

    @font-face {
        font-family: 'norse';
        src: url('./assets/Norse-Bold.otf');
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}

body,
.main-cont,
.left-cont,
.right-cont {
    display: flex;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-cont {
    height: 85vh;
    width: 80vw;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}

.left-cont {
    position: relative;
    flex-grow: 1;
    flex-basis: 40vh;
    background-color: var(--white);
}

.right-cont {
    flex-grow: 1;
    flex-basis: 60vh;
    background-color: var(--white);
}

.left-cont > img {
    margin-left: auto;
    transform: scaleX(-1);
}

.left-cont > div {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-cont {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}

.icon-cont img {
    width: 20%;
    height: auto;
}

.icon-cont p {
    color: var(--white);
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0;
}

.norse-style {
    font-family: norse;
}

/* RIGHT CONTAINER */
.right-cont {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

.up-cont {
    margin-bottom: 1rem;
}

.up-cont > h1 {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.up-cont > h2 {
    font-size: 1.3rem;
    color: gray;
    font-style: italic;
    margin-top: 0;
    font-weight: 100;
}

.low-cont button {
    background-color: var(--black);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
    color: var(--white);
    font-size: 1.3rem;
    padding: 0.5rem 3.5rem;
    border-radius: 5px;
}

.low-cont p {
    font-size: 0.8rem;
}

.low-cont a,
.low-cont a:visited,
.checkbox-cont a,
.checkbox-cont a:visited {
    color: #1e1e1e;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
}

/* FORM */
.mid-cont {
    margin-bottom: 1rem;
}

form {
    font-size: 0.8rem;
    padding: 2rem 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.form-row {
    display: flex;
    gap: 2rem;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px gray solid;
    outline: 0;
    width: 100%;
}

::placeholder {
    color: transparent;
}

.field-cont {
    position: relative;
    width: 40%;
}

.field-cont label {
    text-transform: capitalize;
    position: absolute;
    left: 0.5rem;
    top: -0.2rem;
    cursor: text;
    transition: 0.2s ease-in-out;
    color: gray;
    font-size: 0.799rem;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -1.5rem;
    left: 0;
    color: var(--black);
    font-size: 0.8rem;
}

.checkbox-cont {
    display: flex;
    gap: 1rem;
}

input[type='checkbox'] {
    margin: 0;
    width: 1rem;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}
