* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px red solid;
}

.main {
    height: 100vh;
    display: flex;
}

.left {
    background: rgb(7, 14, 94);
    width: 40vw;
}

.right {
    background: violet;
    width: 60vw;
    display: flex;
    align-items: center;
    padding: 10rem 5rem;
}

form {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

.input-row {
    display: flex;
}

.input-row label {
    flex-grow: 1;
}

button {
    width: 8rem;
    padding: 0.5rem;
}
